<?xml version="1.0"?>
<config>
    <modules>
        <Imena_PointCheckout>
            <version>0.1.0</version>
        </Imena_PointCheckout>
    </modules>
    <frontend>
        <routers>
            <pointcheckout>
                <use>standard</use>
                <args>
                    <module>Imena_PointCheckout</module>
                    <frontName>pointcheckout</frontName>
                </args>
            </pointcheckout>
        </routers>
        <layout>
            <updates>
                <pointcheckout>
                    <file>pointcheckout.xml</file>
                </pointcheckout>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <pointcheckout>
                <class>Imena_PointCheckout_Helper</class>
            </pointcheckout>
        </helpers>
        <blocks>
            <pointcheckout>
                <class>Imena_PointCheckout_Block</class>
            </pointcheckout>
        </blocks>
        <models>
            <pointcheckout>
                <class>Imena_PointCheckout_Model</class>
                <resourceModel>pointcheckout_mysql4</resourceModel>
            </pointcheckout>
            <pointcheckout_mysql4>
                <class>Imena_PointCheckout_Model_Mysql4</class>
                <entities>
                    <pointcheckout>
                        <table>transaction</table>
                    </pointcheckout>
                </entities>
            </pointcheckout_mysql4>
        </models>
        <resources>
            <pointcheckout_setup>
                <setup>
                    <module>Imena_Installment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pointcheckout_setup>
            <pointcheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pointcheckout_write>
            <pointcheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pointcheckout_read>
        </resources>
    </global>
    <default>
        <payment>
            <pointcheckout>
                <active>1</active>
                <model>pointcheckout/payment</model>
                <live>1</live>
                <api_key></api_key>
                <secret_key></secret_key>
                <order_status>pending</order_status>
                <title>PointCheckout</title>
                <allowspecific>0</allowspecific>
                <instructions></instructions>
            </pointcheckout>
        </payment>
    </default>
</config>
